# overfit to yesterday's data

In [1]:
import pandas as pd
import numpy as np
import requests
import time
from datetime import datetime

In [2]:
# backfill, forwardfill, save to csv
today = datetime.today().strftime('%Y-%m-%d')

In [3]:
df = pd.read_csv(f'./data/raw/sp500-{today}.csv', index_col=0)

In [4]:
df

,MMM,AMD,AMZN,AAL,AAPL,AMAT,BAC,BBY,DVN,XOM,...,TFX,UA,WRB,WAT,WU,WRK,WY,WHR,A,FANG
04:05:00,128.99,77.39,106.35,12.70,136.5600,90.46,31.115,66.00,55.5454,85.23,...,252.91,7.7,66.71,326.665,16.32,39.56,32.73,155.78,116.24,121.65
04:10:00,128.99,77.39,106.35,12.70,136.5600,90.46,31.115,66.00,55.5454,85.23,...,252.91,7.7,66.71,326.665,16.32,39.56,32.73,155.78,116.24,121.65
04:15:00,128.99,77.39,106.35,12.70,136.5600,90.46,31.115,66.00,55.5454,85.23,...,252.91,7.7,66.71,326.665,16.32,39.56,32.73,155.78,116.24,121.65
04:20:00,128.99,77.39,106.35,12.70,136.5600,90.46,31.115,66.00,55.5454,85.23,...,252.91,7.7,66.71,326.665,16.32,39.56,32.73,155.78,116.24,121.65
04:30:00,128.99,77.39,106.35,12.70,136.5600,90.46,31.115,66.00,55.5454,85.23,...,252.91,7.7,66.71,326.665,16.32,39.56,32.73,155.78,116.24,121.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19:40:00,129.89,76.14,106.22,12.70,136.6800,89.77,31.100,66.19,55.1200,85.88,...,256.83,7.6,67.39,329.600,16.57,40.21,33.04,157.74,118.43,121.25
19:45:00,129.89,76.23,106.26,12.65,136.7600,89.77,31.110,66.19,55.1200,85.88,...,256.83,7.6,67.39,329.600,16.57,40.21,33.04,157.74,118.43,121.25
19:50:00,129.89,76.27,106.21,12.67,136.8200,89.98,31.130,66.19,55.1200,85.88,...,256.83,7.6,67.39,329.600,16.57,40.21,33.04,157.74,118.43,121.25
19:55:00,129.89,76.26,106.45,12.67,137.1399,89.98,31.130,66.19,55.1100,85.88,...,256.83,7.6,67.39,329.600,16.57,40.21,33.04,157.74,118.43,121.25
20:00:00,129.89,76.20,106.75,12.72,136.7300,89.98,31.150,66.19,55.1900,86.10,...,256.83,7.6,67.39,329.600,16.57,40.21,33.04,157.74,118.43,121.25

In [5]:
cols = df.columns

In [6]:
test = {}
for i in cols:
    entry = {f'delta-{i}' : abs(df[f'{i}'].pct_change())}
    test.update(entry)

In [7]:
df_delta = pd.DataFrame.from_dict(test,orient='index').T

In [8]:
df_comb = pd.concat([df, df_delta], axis=1)

In [9]:
maxValues = df_delta.max(axis=1)
maxValues

04:05:00         NaN
04:10:00    0.002774
04:15:00    0.000000
04:20:00    0.011482
04:30:00    0.000000
              ...
19:40:00    0.021050
19:45:00    0.030118
19:50:00    0.052392
19:55:00    0.027639
20:00:00    0.142228
Length: 184, dtype: float64

In [10]:
multiplier = list(maxValues)

In [11]:
clean_m = [x for x in multiplier if x > 0.0000]

In [12]:
clean_1 = [1+x for x in clean_m]

In [13]:
dolla_bills = 1
for i in clean_1:
    dolla_bills = dolla_bills * i
    # print(round(dolla_bills,2))

In [14]:
dolla_bills

25.25875214360233

In [15]:
##

In [16]:
today

'2022-07-01'