# Equal Weight S&P 500
https://www.youtube.com/watch?v=xfzGZB4HhEE&ab_channel=freeCodeCamp.org

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import xlsxwriter
import math
import time
from datetime import datetime
import plotly.express as px

# preamble

- [x] establish api key
- [x] establish variables
- [x] get symbols for all sp500 
- [x] run test query to confirm errorless execution

In [2]:
# establish api key
keys_file = open("alphaVantage.txt")
api_key = keys_file.readlines()[0]

In [3]:
#S&P 500 symbols
sp500_symbols = pd.read_csv('https://raw.githubusercontent.com/datasets/s-and-p-500-companies/master/data/constituents.csv')['Symbol']

In [17]:
# establish variables
ticker = 'ibm'
interval = '5min'
function = 'TIME_SERIES_INTRADAY'

In [18]:
# run test query
ibm = requests.get(f'https://www.alphavantage.co/query?function={function}&symbol={ticker}&interval={interval}&apikey={api_key}').json()

# plot 4 fun

In [8]:
# https://www.youtube.com/watch?v=xL3L4PRof3Y&ab_channel=CodingFun
five_min = ibm['Time Series (5min)']

In [9]:
close_price = {}
for i in five_min:
    close_price[i.split(' ')[1]] = five_min[i]['4. close']

df = pd.DataFrame(close_price, index=['price']).T
df.index = pd.to_datetime(df.index)
df = df.sort_index()

In [12]:
fig = px.line(df, x=df.index, y='price', title=f'{ticker}')
# fig.show()

# build dataframe of 5 minute moves for yesterday

In [22]:
# slids = [aapl,ibm]
symbols = [ibm,aapl]

In [23]:
def get_5min(symbols):
    thing = {}
    for i in slids:
        shortcode = i['Meta Data']['2. Symbol'] # get the symbol e.g. "AAPL"
        five_min = i['Time Series (5min)'] # get the 5 minute intervals

        close_price = {} #build dictionary of times and prices
        for i in five_min:
            close_price[i.split(' ')[1]] = five_min[i]['4. close']

        out = {shortcode: close_price}
        thing.update(out)
    df = pd.DataFrame.from_dict(thing,orient='index').T
    df.sort_index(inplace=True)

    return df

In [24]:
get_5min(symbols)

               ibm      AAPL
05:55:00  142.5000       NaN
06:25:00  142.5000       NaN
08:05:00  142.0300       NaN
08:35:00  142.0000       NaN
09:30:00  142.4500       NaN
...            ...       ...
19:40:00       NaN  148.3700
19:45:00       NaN  148.3400
19:50:00       NaN  148.3000
19:55:00       NaN  148.2100
20:00:00       NaN  148.2200

[131 rows x 2 columns]

In [27]:
x = list(sp500_symbols)[:5]
x

['MMM', 'AOS', 'ABT', 'ABBV', 'ABMD']