In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import bar_chart_race as bcr

## just get the top 10 schools with biggest undergrad enrolment

In [2]:
df_22 = pd.read_csv('../data/raw/MERGED2020_21_PP.csv', usecols=['INSTNM', 'UGDS']).dropna()

In [3]:
top5 = df_22.sort_values(by='UGDS', ascending=False)[:5].reset_index()

In [4]:
top5

   index                                     INSTNM      UGDS
0   1906          Southern New Hampshire University  109233.0
1   4322               Western Governors University  104919.0
2   6087          The Pennsylvania State University   73189.0
3   5565              University of Phoenix-Arizona   66294.0
4     70  Arizona State University Campus Immersion   62633.0

## now do it for every file that you have

In [5]:
csvs = glob.glob('../data/raw/MERGED*.csv')

In [6]:
[csv[-14:-10] for csv in csvs]

['1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020']

In [7]:
data = []
for proj in csvs:
    df1 = pd.read_csv(proj, usecols=['INSTNM', 'UGDS']).dropna()
    data.append(df1)
df2 = pd.concat(data, axis=1)
df2

,INSTNM,UGDS,INSTNM,UGDS,INSTNM,UGDS,INSTNM,UGDS,INSTNM,UGDS,...,INSTNM,UGDS,INSTNM,UGDS,INSTNM,UGDS,INSTNM,UGDS,INSTNM,UGDS
0,Community College of the Air Force,44141.0,Community College of the Air Force,41694.0,Alabama A & M University,3903.0,Alabama A & M University,4332.0,NaN,NaN,...,Alabama A & M University,4616.0,Alabama A & M University,4824.0,Alabama A & M University,4990.0,Alabama A & M University,5271.0,Alabama A & M University,5090.0
1,Alabama A & M University,3852.0,Alabama A & M University,3745.0,University of Alabama at Birmingham,9562.0,University of Alabama at Birmingham,9532.0,NaN,NaN,...,University of Alabama at Birmingham,12047.0,University of Alabama at Birmingham,12866.0,University of Alabama at Birmingham,13186.0,University of Alabama at Birmingham,13328.0,University of Alabama at Birmingham,13549.0
2,University of Alabama at Birmingham,9889.0,University of Alabama at Birmingham,10181.0,Amridge University,98.0,Amridge University,97.0,NaN,NaN,...,Amridge University,293.0,Amridge University,318.0,Amridge University,351.0,Amridge University,365.0,Amridge University,298.0
3,ALABAMA AVIATION AND TECHNICAL COLLEGE,295.0,ALABAMA AVIATION AND TECHNICAL COLLEGE,306.0,University of Alabama in Huntsville,4165.0,University of Alabama in Huntsville,4526.0,NaN,NaN,...,University of Alabama in Huntsville,6346.0,University of Alabama in Huntsville,6917.0,University of Alabama in Huntsville,7458.0,University of Alabama in Huntsville,7785.0,University of Alabama in Huntsville,7825.0
4,Amridge University,60.0,Amridge University,78.0,Alabama State University,4593.0,Alabama State University,4588.0,NaN,NaN,...,Alabama State University,4704.0,Alabama State University,4189.0,Alabama State University,3903.0,Alabama State University,3750.0,Alabama State University,3603.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
###

In [9]:
names = pd.DataFrame()
for proj in csvs:
    frame = pd.read_csv(proj, usecols=['INSTNM', 'UGDS']).dropna()
    frame['year'] = int(proj[-14:-10])
    names = names.append(frame, ignore_index=True)

<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)
<ipython-input-9-6673f5a65794>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names = names.append(frame, ignore_index=True)

In [10]:
names

                                        INSTNM     UGDS  year
0           Community College of the Air Force  44141.0  1996
1                     Alabama A & M University   3852.0  1996
2          University of Alabama at Birmingham   9889.0  1996
3       ALABAMA AVIATION AND TECHNICAL COLLEGE    295.0  1996
4                           Amridge University     60.0  1996
...                                        ...      ...   ...
156437              Triangle Tech-Chambersburg     26.0  2020
156438        Provo College-Idaho Falls Campus     16.0  2020
156439      Miller-Motte College-Chattanooga 2      0.0  2020
156440         Eagle Gate College-Boise Campus     17.0  2020
156441       Elite Welding Academy South Point      2.0  2020

[156442 rows x 3 columns]

In [44]:
x = pd.pivot_table(names, values='UGDS', index=['INSTNM'], columns='year', aggfunc=np.sum)
x

year,1996,1997,1998,1999,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
INSTNM,,,,,,,,,,,,,,,,,,,,,
360 Degrees Beauty Academy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4-States Academy of Cosmetology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4-States Okmulgee Academy of Cosmetology,24.0,23.0,23.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A & W Healthcare Educators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.0,40.0,48.0,40.0,20.0,NaN,NaN,NaN,NaN,NaN
A Better U Beauty Barber Academy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZMS The Academy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,109.0,102.0,38.0,115.0,125.0,210.0
Zane State College,2060.0,2189.0,2151.0,1544.0,1618.0,1525.0,1452.0,1488.0,1537.0,1658.0,...,2572.0,2325.0,2351.0,2063.0,1890.0,1373.0,1110.0,1042.0,986.0,973.0
Zion Massage College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0
duCret School of Arts,114.0,112.0,NaN,NaN,55.0,16.0,52.0,43.0,33.0,28.0,...,47.0,26.0,32.0,41.0,27.0,NaN,NaN,NaN,NaN,NaN
eClips School of Cosmetology and Barbering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,13.0,...,57.0,52.0,114.0,83.0,25.0,18.0,24.0,34.0,17.0,NaN

In [45]:
# # get top 10 total
# x['sum'] = x[list(x.columns)].sum(axis=1)
# y = x.sort_values(by='sum', ascending=False)[:10].reset_index()
# y

In [46]:
# # get top 10 every year
# top10 = []
# for col in x.columns:
#     df_ = x[col].sort_values(ascending=False)[:10].reset_index()
#     top10.append(df_)
# df_top10 = pd.concat(top10, axis=1)

In [47]:
z = x.T

In [48]:
z

INSTNM,360 Degrees Beauty Academy,4-States Academy of Cosmetology,4-States Okmulgee Academy of Cosmetology,A & W Healthcare Educators,A Better U Beauty Barber Academy,A'ARTS COLLEGE OF BEAUTY,A.B.I. School of Barbering & Cosmetology of Chelsea Inc.,A.B.I. School of Barbering & Cosmetology of Tribeca Inc.,A1 Business and Technical College,ABC Adult School,...,Youngstown State University,Your School of Beauty Culture,Yuba College,Yukon Beauty College Inc,Z Hair Academy,ZMS The Academy,Zane State College,Zion Massage College,duCret School of Arts,eClips School of Cosmetology and Barbering
year,,,,,,,,,,,,,,,,,,,,,
1996,NaN,NaN,24.0,NaN,NaN,34.0,NaN,NaN,323.0,NaN,...,11546.0,NaN,5941.0,17.0,NaN,NaN,2060.0,NaN,114.0,NaN
1997,NaN,NaN,23.0,NaN,NaN,26.0,NaN,NaN,319.0,NaN,...,11133.0,NaN,5001.0,16.0,NaN,NaN,2189.0,NaN,112.0,NaN
1998,NaN,NaN,23.0,NaN,NaN,48.0,NaN,NaN,81.0,NaN,...,11343.0,NaN,5358.0,19.0,NaN,NaN,2151.0,NaN,NaN,NaN
1999,NaN,NaN,18.0,NaN,NaN,39.0,NaN,NaN,319.0,NaN,...,11002.0,NaN,6192.0,25.0,NaN,NaN,1544.0,NaN,NaN,NaN
2001,NaN,NaN,NaN,NaN,NaN,29.0,84.0,NaN,255.0,NaN,...,11012.0,NaN,5622.0,35.0,NaN,NaN,1618.0,NaN,55.0,NaN
2002,NaN,NaN,NaN,NaN,NaN,NaN,111.0,NaN,385.0,NaN,...,11189.0,NaN,5683.0,15.0,NaN,NaN,1525.0,NaN,16.0,NaN
2003,NaN,NaN,NaN,NaN,NaN,NaN,140.0,NaN,218.0,NaN,...,11449.0,NaN,4817.0,20.0,NaN,NaN,1452.0,NaN,52.0,NaN
2004,NaN,NaN,NaN,NaN,NaN,NaN,159.0,NaN,320.0,NaN,...,11622.0,NaN,5079.0,17.0,NaN,NaN,1488.0,NaN,43.0,NaN
2005,NaN,NaN,NaN,NaN,NaN,NaN,147.0,NaN,NaN,NaN,...,11500.0,34.0,5065.0,18.0,NaN,NaN,1537.0,NaN,33.0,5.0
2006,NaN,26.0,NaN,NaN,NaN,NaN,102.0,NaN,NaN,NaN,...,11732.0,27.0,5303.0,11.0,NaN,NaN,1658.0,NaN,28.0,13.0
2007,NaN,34.0,NaN,NaN,NaN,NaN,119.0,69.0,NaN,NaN,...,11920.0,NaN,4968.0,17.0,NaN,NaN,1751.0,NaN,32.0,16.0
2008,NaN,29.0,27.0,NaN,NaN,NaN,141.0,84.0,NaN,NaN,...,12090.0,NaN,7780.0,18.0,58.0,NaN,1980.0,NaN,44.0,53.0
2009,22.0,52.0,28.0,NaN,NaN,NaN,133.0,60.0,NaN,NaN,...,12948.0,NaN,7612.0,25.0,43.0,NaN,2343.0,NaN,52.0,68.0
2010,45.0,30.0,25.0,23.0,NaN,NaN,125.0,64.0,NaN,NaN,...,13478.0,NaN,6827.0,20.0,40.0,NaN,2579.0,NaN,54.0,60.0
2011,NaN,NaN,NaN,36.0,NaN,NaN,69.0,9.0,NaN,NaN,...,12978.0,NaN,6489.0,16.0,38.0,NaN,2572.0,NaN,47.0,57.0
2012,NaN,NaN,NaN,40.0,NaN,NaN,60.0,NaN,NaN,NaN,...,12209.0,NaN,6483.0,16.0,26.0,NaN,2325.0,NaN,26.0,52.0
2013,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,NaN,NaN,...,11613.0,NaN,6345.0,17.0,59.0,NaN,2351.0,NaN,32.0,114.0
2014,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,...,10695.0,NaN,6062.0,25.0,95.0,NaN,2063.0,NaN,41.0,83.0
2015,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,...,10196.0,NaN,6193.0,19.0,107.0,109.0,1890.0,NaN,27.0,25.0
2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10147.0,NaN,5722.0,18.0,90.0,102.0,1373.0,NaN,NaN,18.0
2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10039.0,NaN,4889.0,18.0,159.0,38.0,1110.0,NaN,NaN,24.0
2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,...,10030.0,NaN,4901.0,18.0,167.0,115.0,1042.0,NaN,NaN,34.0
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,...,9705.0,NaN,4979.0,14.0,146.0,125.0,986.0,NaN,NaN,17.0
2020,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,195.0,...,9112.0,NaN,4054.0,18.0,163.0,210.0,973.0,40.0,NaN,NaN

In [49]:
z.fillna(0, inplace=True)
z.sort_values(list(z.columns), inplace=True)
z = z.sort_index()
z.head(5)

INSTNM,360 Degrees Beauty Academy,4-States Academy of Cosmetology,4-States Okmulgee Academy of Cosmetology,A & W Healthcare Educators,A Better U Beauty Barber Academy,A'ARTS COLLEGE OF BEAUTY,A.B.I. School of Barbering & Cosmetology of Chelsea Inc.,A.B.I. School of Barbering & Cosmetology of Tribeca Inc.,A1 Business and Technical College,ABC Adult School,...,Youngstown State University,Your School of Beauty Culture,Yuba College,Yukon Beauty College Inc,Z Hair Academy,ZMS The Academy,Zane State College,Zion Massage College,duCret School of Arts,eClips School of Cosmetology and Barbering
year,,,,,,,,,,,,,,,,,,,,,
1996,0.0,0.0,24.0,0.0,0.0,34.0,0.0,0.0,323.0,0.0,...,11546.0,0.0,5941.0,17.0,0.0,0.0,2060.0,0.0,114.0,0.0
1997,0.0,0.0,23.0,0.0,0.0,26.0,0.0,0.0,319.0,0.0,...,11133.0,0.0,5001.0,16.0,0.0,0.0,2189.0,0.0,112.0,0.0
1998,0.0,0.0,23.0,0.0,0.0,48.0,0.0,0.0,81.0,0.0,...,11343.0,0.0,5358.0,19.0,0.0,0.0,2151.0,0.0,0.0,0.0
1999,0.0,0.0,18.0,0.0,0.0,39.0,0.0,0.0,319.0,0.0,...,11002.0,0.0,6192.0,25.0,0.0,0.0,1544.0,0.0,0.0,0.0
2001,0.0,0.0,0.0,0.0,0.0,29.0,84.0,0.0,255.0,0.0,...,11012.0,0.0,5622.0,35.0,0.0,0.0,1618.0,0.0,55.0,0.0

In [50]:
top_prem_clubs = set()

for index, row in z.iterrows():
    top_prem_clubs |= set(row[row > 0].sort_values(ascending=False).head(5).index)

z = z[top_prem_clubs]

<ipython-input-50-3638189f78e1>:6: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  z = z[top_prem_clubs]

In [51]:
z

INSTNM,Houston Community College,Arizona State University Campus Immersion,University of Central Florida,Western Governors University,Southern New Hampshire University,University of Phoenix-Arizona,Community College of the Air Force,Ohio State University-Main Campus,Ivy Tech Community College,Texas A & M University-College Station,...,Ashford University,University of Minnesota-Twin Cities,Purdue University Global-Davenport,Austin Community College District,University of Phoenix-Online Campus,The University of Texas at Austin,Western International University,The Pennsylvania State University,Miami Dade College,Lone Star College System
year,,,,,,,,,,,,,,,,,,,,,
1996,31787.0,30680.0,21954.0,0.0,3803.0,0.0,44141.0,35314.0,3190.0,34298.0,...,510.0,37087.0,397.0,13916.0,1106.0,34436.0,805.0,0.0,41150.0,15624.0
1997,30710.0,32537.0,22850.0,0.0,3874.0,0.0,41694.0,35418.0,3457.0,33926.0,...,507.0,26072.0,292.0,16032.0,1666.0,35701.0,933.0,0.0,41800.0,16171.0
1998,31810.0,32310.0,24357.0,0.0,3837.0,0.0,0.0,36042.0,3630.0,35854.0,...,555.0,27580.0,311.0,17109.0,2350.0,36107.0,1044.0,0.0,41172.0,16857.0
1999,32118.0,32927.0,25749.0,0.0,4058.0,0.0,0.0,35883.0,3953.0,36045.0,...,576.0,26968.0,283.0,17808.0,6296.0,36164.0,1076.0,0.0,42083.0,22080.0
2001,9056.0,34095.0,29726.0,77.0,3907.0,0.0,0.0,34586.0,5135.0,36571.0,...,387.0,27699.0,745.0,29322.0,19928.0,37655.0,83.0,0.0,43447.0,26624.0
2002,19940.0,35573.0,31808.0,121.0,3992.0,0.0,0.0,35447.0,6826.0,36743.0,...,410.0,28103.0,3019.0,35576.0,30686.0,38748.0,88.0,0.0,47569.0,30188.0
2003,21332.0,37336.0,34064.0,815.0,4146.0,0.0,0.0,36224.0,6934.0,36021.0,...,416.0,28747.0,9195.0,30638.0,47400.0,37480.0,1636.0,0.0,51901.0,34390.0
2004,25678.0,38117.0,34890.0,1947.0,4128.0,0.0,0.0,36097.0,9182.0,35672.0,...,380.0,28740.0,10872.0,30439.0,75851.0,36478.0,1800.0,0.0,50665.0,35648.0
2005,25911.0,39649.0,37507.0,3369.0,4186.0,0.0,0.0,36029.0,9281.0,36312.0,...,627.0,28957.0,19952.0,31908.0,70845.0,35734.0,49837.0,0.0,48361.0,39771.0
2006,28299.0,38984.0,39257.0,4829.0,4254.0,0.0,0.0,37088.0,10006.0,36490.0,...,3414.0,28645.0,24199.0,33039.0,118453.0,36241.0,12111.0,0.0,45545.0,40722.0
2007,29537.0,38597.0,40983.0,6491.0,4425.0,0.0,0.0,37848.0,11818.0,37289.0,...,9805.0,28703.0,31122.0,24704.0,175200.0,36881.0,8170.0,0.0,47381.0,32088.0
2008,32836.0,52883.0,42548.0,8344.0,4789.0,0.0,0.0,38719.0,14685.0,38332.0,...,23665.0,28505.0,41357.0,25980.0,241832.0,36711.0,2230.0,0.0,49480.0,32782.0
2009,43171.0,53902.0,44957.0,11433.0,4756.0,0.0,0.0,40178.0,17903.0,38722.0,...,42668.0,29921.0,66322.0,31612.0,235028.0,37464.0,2205.0,0.0,51369.0,36584.0
2010,46713.0,56232.0,47225.0,17252.0,5227.0,0.0,0.0,40851.0,18963.0,39049.0,...,56977.0,30519.0,67973.0,34296.0,253594.0,37689.0,2352.0,0.0,57294.0,43493.0
2011,53333.0,58184.0,49559.0,23654.0,7028.0,0.0,0.0,41709.0,19653.0,39740.0,...,66864.0,30610.0,45758.0,36264.0,249604.0,37725.0,2433.0,0.0,59570.0,56756.0
2012,50011.0,59183.0,50621.0,31353.0,10395.0,0.0,0.0,41877.0,91112.0,39950.0,...,68874.0,30375.0,37888.0,34602.0,205286.0,39215.0,2089.0,0.0,62050.0,57761.0
2013,57742.0,38480.0,50919.0,35493.0,17172.0,0.0,0.0,43139.0,87017.0,43931.0,...,50403.0,30271.0,40209.0,32715.0,166816.0,39323.0,1369.0,0.0,61684.0,56288.0
2014,58084.0,39316.0,52280.0,44499.0,28035.0,151558.0,0.0,43733.0,77657.0,46941.0,...,44744.0,30135.0,40335.0,32581.0,0.0,38914.0,996.0,0.0,61470.0,59920.0
2015,56359.0,41222.0,54091.0,54735.0,41986.0,129615.0,0.0,44131.0,70074.0,48707.0,...,36405.0,30511.0,35040.0,32524.0,0.0,39057.0,914.0,0.0,57884.0,59193.0
2016,56846.0,42224.0,55113.0,63961.0,52216.0,100011.0,0.0,44762.0,65092.0,50416.0,...,35252.0,30975.0,28793.0,31666.0,0.0,39676.0,1133.0,0.0,50604.0,59202.0
2017,56976.0,42181.0,56366.0,72385.0,68214.0,77269.0,0.0,44853.0,61700.0,52568.0,...,31046.0,31535.0,25237.0,30716.0,0.0,39965.0,597.0,0.0,51015.0,59107.0
2018,57053.0,42529.0,58392.0,88921.0,80170.0,70241.0,0.0,45769.0,59821.0,53194.0,...,28289.0,31455.0,23042.0,30061.0,0.0,40329.0,0.0,0.0,49443.0,59074.0
2019,55990.0,44038.0,58940.0,98630.0,90196.0,68833.0,0.0,45657.0,58978.0,53119.0,...,26394.0,31367.0,0.0,29961.0,0.0,39783.0,0.0,0.0,46478.0,55219.0
2020,48060.0,62633.0,61111.0,104919.0,109233.0,66294.0,0.0,45862.0,50792.0,54942.0,...,24832.0,30907.0,0.0,28882.0,0.0,39624.0,0.0,73189.0,41353.0,50580.0

In [52]:
#further cleaning
z['University of Pheonix'] = z['University of Phoenix-Arizona'] + z['University of Phoenix-Online Campus']
z.drop(["University of Phoenix-Arizona", "University of Phoenix-Online Campus"], 1, inplace=True)

#delete 0 dudes
z = z.replace(0,np.nan).dropna(axis=1,how="any")

<ipython-input-52-cfb513f9ea35>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  z['University of Pheonix'] = z['University of Phoenix-Arizona'] + z['University of Phoenix-Online Campus']
<ipython-input-52-cfb513f9ea35>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  z.drop(["University of Phoenix-Arizona", "University of Phoenix-Online Campus"], 1, inplace=True)
<ipython-input-52-cfb513f9ea35>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  z.drop(["University of Phoenix-Arizona", "University of Phoenix-Online Campus"], 1, inplace=True)

In [54]:
bcr.bar_chart_race(df=z, 
                   n_bars = 5, 
                   sort='desc', 
                   steps_per_period=10,
                   period_length=1500,
                   figsize=(10,6),
                   dpi=300,
                   cmap='dark12',
                   title='Which University\'s enrolled the most students 1996-2020?', 
                   filename='idktest.mp4')

C:\Users\jagod\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
C:\Users\jagod\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))