In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import locale
locale.setlocale(locale.LC_ALL, '')

'English_United States.1252'

# calculate base

In [2]:
pv = 10000 #present value
time_horizon = 30 #time horizon
i = .07 #rate of return
additions = 10000 #annual additions

In [3]:
# calculate returns given flat rate of return
for year in range(time_horizon):
    ending = pv * (1+i) + additions
    #print(locale.currency(ending, grouping=True))
    pv = ending

# add variability

In [4]:
pv = 10000 #present value
time_horizon = 30 #time horizon
additions = 10000 #annual additions
expected_return = .07
volatility = .14

In [5]:
print('\tReturn', '\tEnding Value'.rjust(18))
for year in range(time_horizon):
    market_return = np.random.normal(expected_return, volatility)
    fv = pv * (1 + market_return) + additions
    print('\t{}'.ljust(10).format(round(market_return,4)), '\t{}'.rjust(10).format(locale.currency(fv, grouping=True)))
    pv = fv

	Return      	Ending Value
	0.0424               	$20,423.91
	-0.1101               	$28,175.02
	-0.1914               	$32,782.69
	0.1286               	$46,999.09
	0.1034               	$61,859.00
	0.3239               	$91,897.94
	-0.216               	$82,047.73
	-0.1708               	$78,035.32
	0.1668               	$101,047.91
	0.0661               	$117,730.28
	-0.1266               	$112,823.20
	-0.0131               	$121,339.70
	0.1771               	$152,830.50
	0.0704               	$173,584.78
	0.4533               	$262,277.41
	0.1844               	$320,634.28
	-0.0298               	$321,095.04
	0.0666               	$352,468.94
	0.0488               	$379,657.59
	0.0312               	$401,519.07
	0.2807               	$524,211.14
	0.2187               	$648,876.95
	0.1398               	$749,616.84
	0.0564               	$801,859.56
	0.1284               	$914,792.58
	0.0381               	$959,627.28
	0.1377               	$1,101,804.76
	0.0159               	$1,129,368.22
	0.1367               	$1,293,752.67
	0.0304               	$1,343,139.48

# monte carlo

In [6]:
iterations = 500
thing = {}

for x in range(iterations):
    expected_return = .09
    volatility = .18
    time_horizon = 30
    pv = 10000
    annual_investment = 10000
    stream = []
    for i in range(time_horizon):
        end = round(pv * (1 + np.random.normal(expected_return, volatility)) + annual_investment, 2)
        stream.append(end)
        pv = end
        thing.update({f"{x}": stream})
    attempt = pd.DataFrame.from_dict(thing)

In [7]:
attempt.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,23747.49,22497.28,16406.37,21206.99,20603.71,20695.82,20278.00,23023.38,18306.94,20974.68,...,22116.27,18884.00,24231.68,22087.90,22774.93,21063.84,19713.00,23271.23,21662.84,21025.35
1,42795.43,37303.88,29583.84,33870.27,40001.16,33404.97,35318.21,35675.00,29359.42,39322.47,...,31242.43,23522.43,41288.87,36869.40,34481.31,38863.68,35221.64,36803.79,39698.83,27219.81
2,61350.63,48553.79,45922.64,49500.15,43118.44,45438.60,50913.01,39003.49,51675.83,48645.73,...,49884.76,37403.01,61244.16,46359.72,35883.95,65799.15,52175.41,51555.28,51959.74,43544.48
3,65450.65,57642.91,48630.03,62865.50,68016.84,55520.10,59116.41,55946.01,55816.61,78494.05,...,59857.36,32834.47,67168.26,58338.84,60040.99,73639.01,54062.49,68947.85,53120.67,48183.27
4,90688.15,78554.62,83737.98,73957.33,87306.59,64650.60,67418.62,80141.72,71342.35,84569.96,...,79051.66,50850.74,88995.76,73786.49,55551.04,109147.50,72185.13,119814.68,67703.92,67585.67