# overfit to yesterday's data

In [1]:
import pandas as pd
import numpy as np
import requests
import time
from datetime import datetime

In [2]:
# backfill, forwardfill, save to csv
today = datetime.today().strftime('%Y-%m-%d')

In [3]:
df = pd.read_csv(f'./data/raw/sp500-{today}.csv', index_col=0)

In [4]:
df

,MMM,ABT,ABBV,AMD,ALGN,AMZN,AAL,AMGN,APA,AAPL,...,TYL,UAA,VFC,V,VMC,WAB,WU,WRK,ZION,LEG
04:05:00,131.85,103.50,138.50,84.6899,240.73,109.08,12.91,237.38,40.46,136.445,...,314.1400,9.14,46.7700,193.54,143.9500,83.880,16.10,41.63,53.14,34.9435
04:10:00,131.85,103.50,138.50,84.6899,240.73,109.08,12.91,237.38,40.46,136.445,...,314.1400,9.14,46.7700,193.54,143.9500,83.880,16.10,41.63,53.14,34.9435
04:15:00,131.85,103.50,138.50,84.6899,240.73,109.08,12.91,237.38,40.46,136.445,...,314.1400,9.14,46.7700,193.54,143.9500,83.880,16.10,41.63,53.14,34.9435
04:20:00,131.85,103.50,138.50,84.6899,240.73,109.08,12.91,237.38,40.46,136.445,...,314.1400,9.14,46.7700,193.54,143.9500,83.880,16.10,41.63,53.14,34.9435
04:30:00,131.85,103.50,138.50,84.6899,240.73,109.08,12.91,237.38,40.46,136.445,...,314.1400,9.14,46.7700,193.54,143.9500,83.880,16.10,41.63,53.14,34.9435
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19:40:00,130.17,102.75,138.65,83.4700,231.50,108.15,12.98,234.72,40.53,135.630,...,310.7224,8.83,45.7033,190.38,144.6604,83.286,15.83,40.15,52.80,34.2600
19:45:00,130.17,102.75,138.65,83.4300,231.50,108.07,12.96,234.72,40.43,135.610,...,310.7224,8.83,45.7033,194.00,144.6604,83.286,15.83,40.15,52.80,34.2600
19:50:00,130.17,102.75,138.65,83.4300,231.50,108.20,12.96,234.72,40.43,135.630,...,310.7224,8.83,45.7033,194.00,144.6604,83.286,15.83,40.15,52.80,34.2600
19:55:00,130.17,102.75,138.65,83.3900,231.50,108.29,12.97,234.72,40.55,135.660,...,310.7224,8.83,45.7033,194.00,144.6604,83.286,15.83,40.15,52.80,34.2600
20:00:00,130.17,102.75,143.01,83.4000,231.50,108.17,12.96,234.72,40.43,135.600,...,310.7224,8.83,45.7033,194.00,144.6604,83.286,15.83,40.15,52.80,34.2600

In [5]:
cols = df.columns

In [6]:
test = {}
for i in cols:
    entry = {f'delta-{i}' : abs(df[f'{i}'].pct_change())}
    test.update(entry)

In [7]:
df_delta = pd.DataFrame.from_dict(test,orient='index').T

In [8]:
df_comb = pd.concat([df, df_delta], axis=1)

In [9]:
maxValues = df_delta.max(axis=1)
maxValues

04:05:00         NaN
04:10:00    0.002740
04:15:00    0.000000
04:20:00    0.006502
04:30:00    0.007039
              ...
19:40:00    0.022185
19:45:00    0.038047
19:50:00    0.030068
19:55:00    0.025948
20:00:00    0.041322
Length: 189, dtype: float64

In [10]:
multiplier = list(maxValues)

In [11]:
clean_m = [x for x in multiplier if x > 0.0000]

In [12]:
clean_1 = [1+x for x in clean_m]

In [13]:
dolla_bills = 1
for i in clean_1:
    dolla_bills = dolla_bills * i
    # print(round(dolla_bills,2))

1.0
1.01
1.02
1.02
1.02
1.03
1.04
1.07
1.08
1.11
1.11
1.12
1.13
1.13
1.14
1.14
1.15
1.15
1.15
1.16
1.16
1.17
1.17
1.17
1.19
1.2
1.2
1.21
1.22
1.23
1.23
1.24
1.24
1.25
1.26
1.28
1.34
1.36
1.38
1.41
1.44
1.45
1.47
1.49
1.51
1.52
1.59
1.64
1.66
1.67
1.73
1.77
1.85
1.9
1.98
2.04
2.07
2.1
2.13
2.18
2.38
2.44
2.47
2.51
2.54
2.56
2.58
2.6
2.61
2.63
2.65
2.67
2.69
2.71
2.73
2.75
2.77
2.8
2.82
2.84
2.85
2.88
2.9
2.92
2.94
2.96
2.98
3.0
3.02
3.04
3.05
3.07
3.09
3.12
3.13
3.16
3.19
3.2
3.21
3.23
3.26
3.27
3.3
3.32
3.33
3.35
3.37
3.45
3.47
3.5
3.57
3.66
3.73
3.83
4.02
4.16
4.32
4.55
4.78
4.97
5.22
5.42
5.71
5.96
6.21
6.39
7.56
8.42
8.66
9.07
9.42
9.78
10.38
10.86
12.55
14.87
15.52
16.2
18.73
19.62
20.44
22.58
24.05
26.26
28.9
30.56
33.36
34.39
35.93
37.43
39.72
42.41
44.95
46.37
48.73
50.5
52.68
54.3
57.75
59.82
61.65
63.56
64.73
68.66
70.68
77.97
82.12
85.36
87.87
90.52
94.36
103.2
106.0
109.5
114.55
117.1
121.55
125.21
128.45
133.76

In [14]:
dolla_bills

133.76247012815392

In [15]:
##