# overfit to yesterday's data

In [1]:
import pandas as pd
import numpy as np
import requests
import time
from datetime import datetime

In [2]:
# backfill, forwardfill, save to csv
today = datetime.today().strftime('%Y-%m-%d')

In [3]:
df = pd.read_csv(f'./data/raw/sp500-{today}.csv', index_col=0)

In [4]:
df

,MMM,AMD,GOOGL,MO,AMZN,AMCR,AAL,AAPL,CZR,CCL,...,WY,WHR,WMB,WYNN,AZO,CMG,HBI,MTD,STT,SIVB
04:05:00,146.9765,102.80,2340.00,50.8399,122.5306,13.33,16.51,149.44,52.01,13.295,...,39.01,170.16,37.81,67.50,2100.00,1377.22,11.59,1302.675,70.93,484.79
04:10:00,146.9765,102.80,2340.00,50.8399,122.5306,13.33,16.51,149.44,52.01,13.295,...,39.01,170.16,37.81,67.50,2100.00,1377.22,11.59,1302.675,70.93,484.79
04:15:00,146.9765,102.80,2340.00,50.8399,122.5306,13.33,16.51,149.44,52.01,13.295,...,39.01,170.16,37.81,67.50,2100.00,1377.22,11.59,1302.675,70.93,484.79
04:20:00,146.9765,102.80,2340.00,50.8399,122.5306,13.33,16.51,149.44,52.01,13.295,...,39.01,170.16,37.81,67.50,2100.00,1377.22,11.59,1302.675,70.93,484.79
04:25:00,146.9765,102.80,2340.00,50.8399,122.5306,13.33,16.51,149.44,52.01,13.295,...,39.01,170.16,37.81,67.50,2100.00,1377.22,11.59,1302.675,70.93,484.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19:40:00,146.8600,102.03,2345.10,49.7900,121.2000,13.34,16.18,147.93,52.50,12.930,...,39.07,170.32,37.89,70.00,2092.35,1390.44,11.53,1304.090,69.34,491.96
19:45:00,146.8600,102.07,2338.21,49.7000,121.2000,13.40,16.18,147.94,52.50,12.930,...,39.07,170.32,37.89,70.00,2092.35,1390.44,11.53,1304.090,69.34,491.96
19:50:00,146.8600,101.93,2338.21,49.7900,121.1900,13.40,16.17,147.98,52.50,12.940,...,39.07,170.32,37.89,67.35,2092.35,1390.44,11.53,1304.090,69.34,491.96
19:55:00,146.8600,102.00,2338.21,49.7500,121.2200,13.40,16.17,147.93,52.50,12.950,...,39.07,170.32,37.89,67.35,2092.35,1390.44,11.53,1304.090,69.34,491.96
20:00:00,146.8600,101.98,2338.21,49.5900,121.2300,13.40,16.18,147.92,52.50,12.950,...,39.07,170.32,37.89,67.30,2092.35,1390.44,11.53,1304.090,69.34,491.96

In [5]:
cols = df.columns

In [6]:
test = {}
for i in cols:
    entry = {f'delta-{i}' : abs(df[f'{i}'].pct_change())}
    test.update(entry)

In [8]:
df_delta = pd.DataFrame.from_dict(test,orient='index').T

In [9]:
df_comb = pd.concat([df, df_delta], axis=1)

In [11]:
maxValues = df_delta.max(axis=1)
maxValues

04:05:00         NaN
04:10:00    0.000000
04:15:00    0.000000
04:20:00    0.001462
04:25:00    0.000000
              ...
19:40:00    0.016945
19:45:00    0.019512
19:50:00    0.037857
19:55:00    0.024259
20:00:00    0.023592
Length: 180, dtype: float64

In [16]:
multiplier = list(maxValues)

In [13]:
clean_m = [x for x in multiplier if x > 0.0000]

In [14]:
clean_1 = [1+x for x in clean_m]

In [18]:
dolla_bills = 1
for i in clean_1:
    dolla_bills = dolla_bills * i
    print(round(dolla_bills,2))

1.0
1.0
1.01
1.01
1.02
1.02
1.03
1.05
1.05
1.05
1.07
1.07
1.08
1.08
1.09
1.1
1.1
1.11
1.12
1.13
1.14
1.15
1.16
1.17
1.19
1.21
1.22
1.23
1.24
1.26
1.27
1.28
1.29
1.3
1.33
1.37
1.4
1.43
1.47
1.5
1.53
1.56
1.57
1.59
1.6
1.62
1.64
1.65
1.66
1.67
1.69
1.7
1.71
1.72
1.73
1.74
1.76
1.78
1.81
1.83
1.86
1.88
1.92
1.95
1.98
2.01
2.07
2.09
2.13
2.14
2.17
2.18
2.19
2.21
2.22
2.24
2.25
2.27
2.29
2.3
2.33
2.36
2.37
2.39
2.41
2.45
2.46
2.47
2.5
2.52
2.55
2.63
2.67
2.73
2.84
2.94
3.11
3.27
3.4
3.52
3.67
3.77
3.88
3.97
4.03
4.17
4.26
4.41
4.56
4.71
4.92
5.1
5.22
5.36
5.66
5.93
6.23
6.44
6.72
6.95
7.16
7.24
7.47
7.65
7.86
8.11
8.2
8.34
8.55
8.75
8.8
8.98
9.28
9.47
9.8
10.19
10.61
11.01
11.27
11.4
11.68
11.91
12.28
12.39
12.72
12.86
13.06
13.59
13.84
14.25
14.74
15.4
15.8
16.46
16.79
17.64
17.93
18.28
18.98
19.44
19.9