In [1]:
import pandas as pd
import numpy as np
from itertools import chain

In [2]:
df = pd.read_csv('spotifyPlaylists.csv', engine='python')
df = df.drop(['Date Added'], axis=1)
df_2020 = df[df.Year == 2020]

In [3]:
df.head()

                           Track       Artist             Album  Year Bro
0         The Adults Are Talking  The Strokes  The New Abnormal  2020   J
1                    At The Door  The Strokes  The New Abnormal  2020   J
2      Brooklyn Bridge To Chorus  The Strokes  The New Abnormal  2020   J
3                 Eternal Summer  The Strokes  The New Abnormal  2020   J
4  Why Are Sundays So Depressing  The Strokes  The New Abnormal  2020   J

In [4]:
df.dtypes

Track     object
Artist    object
Album     object
Year       int64
Bro       object
dtype: object

In [6]:
# most popular artists
popArtist = df.pivot_table(index=['Artist'], aggfunc='size')
popArtist.sort_values(ascending=False, inplace=True)
print(popArtist[:10])

Artist
Ghost                      56
Sabaton                    42
The Strokes                39
The Black Keys             38
Tyler, The Creator         33
The Devil Wears Prada      29
Queens of the Stone Age    28
Joji                       27
Bon Iver                   27
Cage The Elephant          27
dtype: int64

In [6]:
# most popular artists 2020
popArtist = df_2020.pivot_table(index=['Artist'], aggfunc='size')
popArtist.sort_values(ascending=False, inplace=True)
print(popArtist[:10])

Artist
The Strokes                28
Joji                       23
Ghost                      20
Oliver Tree                19
The Devil Wears Prada      18
Queens of the Stone Age    16
Childish Gambino           13
Tyler, The Creator         12
The Killers                12
Poppy                      11
dtype: int64

In [7]:
#most popular albums 2020
popArtist = df_2020.pivot_table(index=['Album'], aggfunc='size')
popArtist.sort_values(ascending=False, inplace=True)
print(popArtist[:10])

Album
Flower Boy              14
Because the Internet    14
BALLADS 1               13
I Disagree              11
The Act                 11
Nectar                  11
The New Abnormal         9
Ugly is Beautiful        8
Birthday Suite           7
Sam's Town               7
dtype: int64

## which bros have stuck to a song across multiple years?

In [7]:
df_J = df[df.Bro == 'J']
df_McAirth = df[df.Bro == 'McAirth']
df_Braden = df[df.Bro == 'Braden']
df_Jason = df[df.Bro == 'Jason']
df_Jacob = df[df.Bro == 'Jacob']
df_Bob = df[df.Bro == 'Bob']

In [49]:
dupeRows = df_J[df_J.duplicated(['Track', 'Album'])]
dupeRows.reset_index()
dupeRows.shape[0]

41

In [51]:
JpopTrack = df_J.pivot_table(index=['Track'], aggfunc='size')
JpopTrack.sort_values(ascending=False, inplace=True)
print(JpopTrack[:2])

Track
No One Knows    3
Tighten Up      3
dtype: int64

In [32]:
dupeRows = df_McAirth[df_McAirth.duplicated(['Track', 'Album'])]
dupeRows.reset_index()
dupeRows.shape[0]

54

In [52]:
McAirthpopTrack = df_McAirth.pivot_table(index=['Track'], aggfunc='size')
McAirthpopTrack.sort_values(ascending=False, inplace=True)
print(McAirthpopTrack[:2])

Track
Buzzcut Season    3
Team              3
dtype: int64

In [148]:
dupeRows = df_Braden[df_Braden.duplicated(['Track', 'Album'])]
dupeRows.reset_index()
dupeRows.shape[0]

17

In [53]:
BradenpopTrack = df_Braden.pivot_table(index=['Track'], aggfunc='size')
BradenpopTrack.sort_values(ascending=False, inplace=True)
print(BradenpopTrack[:2])

Track
See You Again (feat. Kali Uchis)    3
BLEACH                              3
dtype: int64

In [145]:
dupeRows = df_Jason[df_Jason.duplicated(['Track', 'Album'])]
dupeRows.reset_index()
dupeRows.shape[0]

19

In [54]:
JasonpopTrack = df_Jason.pivot_table(index=['Track'], aggfunc='size')
JasonpopTrack.sort_values(ascending=False, inplace=True)
print(JasonpopTrack[:2])

Track
He Is    3
Faith    3
dtype: int64

In [9]:
dupeRows = df_Jacob[df_Jacob.duplicated(['Track', 'Album'])]
dupeRows.reset_index()
dupeRows.shape[0]

49

In [55]:
JacobpopTrack = df_Jacob.pivot_table(index=['Track'], aggfunc='size')
JacobpopTrack.sort_values(ascending=False, inplace=True)
print(JacobpopTrack[:2])

Track
Sacred & Wild    4
Year Zero        2
dtype: int64

## which bros share a track for 2020?

In [16]:
df_dupes = df_2020[df_2020.duplicated('Track', keep=False)]
df_dupes.head(3)

              Track       Artist              Album  Year Bro
30           Say So     Doja Cat           Hot Pink  2020   J
37  Blinding Lights   The Weeknd    Blinding Lights  2020   J
55        Alien Boy  Oliver Tree  Ugly is Beautiful  2020   J

In [13]:
unique = df_dupes.Track.unique()
unique.shape[0]

25

In [189]:
df_dupes.head()
df_idk = df_dupes[['Track', 'Bro']].copy()
df_idk.head()

                    Track Bro
30                 Say So   J
37        Blinding Lights   J
55              Alien Boy   J
59  You Need To Calm Down   J
73                   Hurt   J

In [202]:
df_dupes2 = pd.get_dummies(df_idk, columns=['Bro'])
df_dupes2.head(10)

                        Track  Bro_Braden  Bro_J  Bro_Jason  Bro_McAirth
30                     Say So           0      1          0            0
37            Blinding Lights           0      1          0            0
55                  Alien Boy           0      1          0            0
59      You Need To Calm Down           0      1          0            0
73                       Hurt           0      1          0            0
103  SLOW DANCING IN THE DARK           1      0          0            0
107                YEAH RIGHT           1      0          0            0
109                      Ribs           1      0          0            0
111                       Run           1      0          0            0
115                  Daylight           1      0          0            0